/* red-hat-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-display-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/red-hat-display-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-display-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/red-hat-display-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/red-hat-display-v21-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/red-hat-display-v21-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

:root {
  /* Color */
  --background-color-hero: #2b2a33;
  --background-color: #2b2a33;
  --card-color: #3b3844;
  --text-color: #ffffff;
  --text-secondary: #e3e2e7;
  --border-color: #3a3a3a;
  --accent-color: #c62828;
  --border-color-image: #3e2976;

  /* Font size */
  --font-size-small: 0.9rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.12rem;
  --font-size-large: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3.5rem;

  /* Font weight */

  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-2extra-bold: 900;

  /* Border */
  --border-size-small: 8px;
  --border-size-medium: 30px;
  --border-size-circle: 50%;
}
/* GLOBAL */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1600px;
}
.section-title {
  text-align: center;
  padding: 60px 0 20px;
  font-size: var(--font-size-xxl);
  color: var(--accent-color);
}

/* NAVBAR SECTION */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--background-color);
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.navbar .nav-logo .logo-text {
  color: var(--accent-color);
  font-size: var(--font-size-xl);
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .link {
  padding: 10px 18px;
  font-size: var(--font-size-medium);
  color: var(--text-secondary);
  transition: 0.3s ease;
}
.navbar .nav-menu .link:hover {
  color: var(--text-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

/* HERO SECTION */

.hero-section {
  min-height: 100svh;
  background: linear-gradient(
    to bottom right,
    #4a4a4e 0%,
    #2b2a33 20%,

    #2b2a33 30%,
    #151515 100%
  );
}

.hero-section .section-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-height: 100vh;
  color: var(--text-color);
  justify-content: space-between;
  overflow: hidden;
}
.hero-section .hero-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-2extra-bold);
}

.hero-section .hero-details .subtitle {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-extra-bold);
  margin-top: 8px;
  color: var(--accent-color);
}
.hero-section .hero-details .intro-text {
  color: var(--accent-color);
}
.hero-section .hero-details .intro {
  font-size: var(--font-size-normal);
  margin: 24px 0 40px;
  max-width: 100%;
}
.hero-section .hero-image-wrapper {
  max-width: 500px;
  margin-left: 50px;
}
.hero-section .hero-image-wrapper .hero-image {
  width: min(70vw, 400px);
  height: min(70vw, 400px);
  border-radius: var(--border-size-circle);
  overflow: hidden;
  border: 15px solid var(--border-color);
  background-color: var(--text-secondary);
}

.hero-section .social-links .social-link {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.hero-section .social-links .social-icons a {
  color: var(--text-color);
  font-size: var(--font-size-large);
  transition: 0.3s ease;
}

.hero-section .social-links .social-icons a:hover {
  color: var(--accent-color);
}

.hero-section .nav-buttons {
  display: flex;
  gap: 23px;
}
.hero-section .button {
  color: var(--text-secondary);
  border: 2px solid var(--text-secondary);
  padding: 10px 26px;
  border-radius: var(--border-size-medium);
  transition: all 0.3s ease;
  font-size: var(--border-size-normal);
}
.hero-section .button:hover {
  border: 2px solid var(--accent-color);
}

/* About Section */
.about-section {
  background: var(--background-color);
  padding: 60px 0 120px;
}
.about-section .section-content {
  display: flex;
  flex-direction: column;
  color: var(--text-secondary);
  gap: 10px;
}

.about-section .about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.about-section .about-intro {
  font-size: var(--font-size-normal);
  width: 70%;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-section .about-card-container {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}

.about-section .cards {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background: var(--card-color);
  border-radius: var(--border-size-small);
  min-height: 250px;
  width: 30%;
  transition: transform 0.2s ease;
}

.about-section .cards:hover {
  transform: scale(1.05);
}

.about-section .about-card-container .card-icon {
  width: 48px;
  height: 48px;
  display: block;
  margin-bottom: 10px;
}

.about-section .about-card-container .card-title {
  font-size: var(--font-size-medium);
  color: var(--accent-color);
}
.about-section .about-card-container .card-description {
  font-size: var(--font-size-small);
  line-height: 1.4;
}

/* Skill Section */

.skills-section {
  background: var(--background-color);
  padding: 60px 0 120px;
}

.skills-section .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 50px 0;
}

.skills-section .subtitle {
  font-size: var(--font-size-large);
  color: var(--text-color);
  text-align: center;
  margin-bottom: 50px;
}

.skills-section .skills-container .skills-article {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 10px;
  background: var(--card-color);
  border: 1px solid var(--card-color);
  border-radius: var(--border-size-small);
  color: var(--text-color);
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.skills-section .skills-container .skills-article:hover {
  transform: scale(1.05);
}

.skills-section .skills-article .skills-icon {
  width: 25%;
  height: auto;
  aspect-ratio: 1;
}

.skills-section .skills-article .skills-title {
  color: var(--text-secondary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

/* Responsive media query code for max width 900px */

@media screen and (max-width: 900px) {
  :root {
    --font-size-normal: 0.9rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2.5rem;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar :where(#menu-close-button, #menu-open-button) {
    display: block;
    font-size: var(--font-size-large);
    color: var(--text-secondary);
  }

  .navbar #menu-close-button {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .navbar .nav-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: var(--card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: left 0.2s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .link {
    font-size: var(--font-size-large);
    color: var(--text-secondary);
    display: block;
    margin-top: 17px;
    transition: 0.3s ease;
  }

  .hero-section {
    min-height: auto;
    padding-bottom: 50px;
  }

  .hero-section .section-content {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 90px;
  }

  .hero-section .hero-details {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .hero-section .hero-details .intro {
    text-align: center;
    margin: 20px 0 36px;
    max-width: 100%;
  }

  .hero-section .hero-image-wrapper {
    max-width: 250px;
    margin: 40px 0 20px;
  }

  .hero-section .hero-image-wrapper .hero-image {
    width: min(70vw, 250px);
    height: min(70vw, 250px);
  }
}

.about-section .about-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.about-section .about-details .about-intro {
  width: 100%;
}
.about-section .cards {
  min-height: 100px;
  width: 90%;
}

.skills-section {
  padding: 0;
  margin: 0;
}

.skills-section .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
}

.skills-section .skills-container .skills-article {
  width: 100%;
  padding: 30px 0;
}

.skills-section .skills-article .skills-icon {
  width: 30%;
  height: auto;
  aspect-ratio: 1;
}

.skills-section .skills-article .skills-title {
  font-size: var(--font-size-normal);
}

/* Responsive media query code for max width 640px */

@media screen and (max-width: 640px) {
  .hero-section {
    padding-top: 80px;
  }

  .hero-section .hero-details .subtitle {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero-section .hero-details .intro {
    max-width: 350px;
    text-align: center;
    word-wrap: break-word;
  }
  .hero-section .nav-buttons {
    flex-direction: column;
    width: 100%;
  }

  .hero-section .button {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .skills-section {
    padding: 0;
    margin: 0;
  }
  .skills-section .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .skills-section .skills-container .skills-article {
    width: 100%;
    padding: 23px 0;
  }

  .skills-section .skills-article .skills-icon {
    width: 30%;
    height: auto;
    aspect-ratio: 1;
  }

  .skills-section .skills-article .skills-title {
    font-size: var(--font-size-normal);
  }
}
